@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-color: #464646;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-playfair-mono);
  --font-mono: var(--font-opensans-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent-color: #8e8e8e;
  }
}

body {
  background: var(--background);
  font-family: var(--font-opensans-sans), Helvetica, sans-serif;
}

.mainHeadings {
  font-family: var(--font-playfair-mono), Georgia, 'Times New Roman', Times, serif, sans-serif;
}